.hc-box-con {}
.hc-box-item {
	background: rgba(0, 0, 0, .1);
	 margin: 1em 0;
    padding: 2em;
    list-style-type: none;
    text-align: left;
    overflow: hidden;
    width: 100%;
}
p.hc-image-caption {
	margin: .5em 0;
	font-style: italic;
	text-align: right;
	font-size: .8em;
}
.hc-box-item p {
	line-height: 1.5;
	margin: 0 0 1em 0;
}
.hc-box-item p:last-of-type {
	margin-bottom: 0;
}
 h4.hc-box-title {
	color: inherit;
	font-weight:  bold;
	font-size: 1.2em;
	margin: 0 0 .5em 0;
}
.hc-box-item > a {
	display: block;
	text-decoration: none;
	color: inherit;
	overflow: hidden;
	box-shadow: none;
}
.hc-link-text {
	text-decoration: underline;
	font-weight: bold;
	text-transform: uppercase;
	text-align: right;
}
.hc-box-item > a:hover .hc-link-text {
	text-decoration: none;
}
.hc-box-item > a:hover {
	opacity: .7;
	}
.hc-box-top-img {
	margin-bottom: .5em;
}
.hc-box-bottom-img {
	margin-top: 2em;
	width: 100%;
	float: left;
}
.hc-box-body a {
	text-decoration: underline;
}
.hc-box-body a:hover {
	text-decoration: none;
}
@media (min-width: 700px) {
	.design-2 .hc-box-body {
		float: right;
		width: 50%;
		padding-left: 1em;
	}
	.design-2 .hc-box-top-img {
		float: left;
		width: 50%;
		margin: 0;
		padding-right: 1em;
	}
		.design-3 .hc-box-body {
		float: left;
		width: 50%;
		padding-right: 1em;
	}
	.design-3 .hc-box-top-img {
		float: right;
		width: 50%;
		margin: 0;
		padding-left: 1em;
	}
	.design-4 .hc-box-body {
		float: right;
		width: 65%;
	}
	.design-4 .hc-box-top-img {
		float: left;
		width: 35%;
		margin: 0;
		padding-right: 2em;
	}
	.design-5 .hc-box-body {
		float: left;
		width: 65%;
	}
	.design-5 .hc-box-top-img {
		float: right;
		width: 35%;
		margin: 0;
		padding-left: 2em;
	}
}