*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100vh;
}

.db {
    display: block;
}

.hc-list {
    margin: 1em 0;
    padding: 0;
}

.hc-list li {
    margin: .5em 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
}

.hc-wp-loop li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    padding-bottom: 1em;
    margin-bottom: 1em;
}

.hc-wp-loop li:last-child {
    border: none;
    padding-bottom: 0;
}

.hc-loop-content {
    width: 65%;
    float: right;
}

.hc-loop-img {
    width: 35%;
    float: left;
    padding-right: 2em;
}

.hc-small-font {
    font-size: .75em;
}

.hc-grid-con {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

.hc-grid-item {
    list-style-type: none;
}

.hc-grid-con.grid-1 .hc-grid-item {
    flex: 1 100%;
    max-width: 100%;
}

.hc-icon {
    width: 20px;
    margin-right: .5em;
    float: left;
    position: relative;
}

.data-titel {
    font-weight: bold;
}

@media (min-width: 700px) {
    .hc-grid-con.grid-2 .hc-grid-item {
        flex: 1 50%;
        max-width: calc(50% - 1em);
    }
    .hc-grid-con.grid-2 .hc-grid-item:nth-child(2n+1) {
        margin-right: 1em;
    }
    .hc-grid-con.grid-2 .hc-grid-item:nth-child(2n+2) {
        margin-left: 1em;
    }

    .hc-grid-con.grid-3 .hc-grid-item {
        flex: 1 30%;
        max-width: calc((100% / 3) - (4em / 3));
    }
    .hc-grid-con.grid-3 .hc-grid-item:nth-child(3n+2) {
        margin-left: 2em;
        margin-right: 2em;
    }

    .hc-grid-con.grid-4 .hc-grid-item {
        flex: 1 25%;
        max-width: calc(25% - (6em / 4));
        margin-left: 2em;
    }
    .hc-grid-con.grid-4 .hc-grid-item:nth-child(4n+1) {
        margin-left: 0;
    }

    .hc-grid-con.grid-5 .hc-grid-item {
        flex: 1 20%;
        max-width: calc(20% - (8em / 5));
        margin-left: 2em;
    }
    .hc-grid-con.grid-5 .hc-grid-item:nth-child(5n+1) {
        margin-left: 0;
    }
}